@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&family=Quicksand:wght@300&display=swap');
:root{
    --fonte-titulo: 'Overpass', sans-serif;
    --fonte-nav: 'Quicksand', sans-serif;
    --fonte-main: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    --cor-fonte-main: #8e9696;
    --cor-header: #1E1F21;
    --cor-body: #2D3139;
    --cor-hover-bloco: #3a3f49;
    --cor-hover-letra: #FF6A81;
}
*{
    color: white;
}
body{
    background-color: var(--cor-body);    
    margin: 0px;
}
header{
    background-color: var(--cor-header);
    justify-content: space-between;
    display: flex;
}
header>picture>#logo-mt{
    margin: 20px;
}
#nav{
    font-size: 18px;
    display: flex;
    gap: 8px;
}
header>nav{
    font-family: var(--fonte-nav);
    height: 70px;
    margin: 20px;
    margin-right: 70px;
}
header>nav>ul{
    list-style: none;
    display: flex;
    margin: 0 auto;
}
header>nav>ul>li{
    display: inline;
}
header>nav>ul>li>a{
    text-decoration: none;
    display: block;
    padding: 20px;
    padding-bottom: 27px;
    transition: .3s;
}
header>nav>ul>li>a:hover{
    color: var(--cor-hover-letra);
}
#btn-mobile{
    display: none;
}
main{
    max-width: 800px;
    margin: auto;
    padding-top: 15px;
}
main>h1{
    font-family: var(--fonte-titulo);
}
main>h2{
    font-family: var(--fonte-titulo);
    padding-left: 10px;
}
main>p{
    font-family: var(--fonte-main);
    color: var(--cor-fonte-main);
    padding-left: 10px;
    font-size: 17px;
    text-indent: 1em;

}
@media (max-width: 635px){
    #btn-mobile{
        display: block;
    }
    #menu{
        display: none;
        position: absolute;
        width: 100%;
        top: 113px;
        right: 0px;
    }
    header{
        
    }
    #nav{
        font-size: 14px;
    }
    #nav.active #menu{
        display: flex;
    }
    #main{
        padding: 13px;
    }
    #main.active{
        margin-top: 40px;
    }
}